:root {
    --test-color: #ffc0cb;
    --test-color2: #ff0000;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 14px;
}

/* reset, do not touch */
h1,h2,h3,h4,h5,h6,body,p {
    margin: 0;
}

/* page settings */
/* typo */
@font-face {
    font-family: "Neue-Machina";
    src: url("../fonts/NeueMachina-Bold.otf");
}

body {
    /* size */
    width: 100vw;
    height: 100vh;
    /* font */
    font-family: "Neue-Machina";
    overflow-x: hidden;
}

/* header settings */
header {
    /* size */
    width: 100%;
    height: 10%;
    /* flex box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border */
    border-bottom: 3px solid black;
    position: relative;
}

#logo {
    /* size */
    width: auto;
    height: 75%;
    /* marge */
    margin-left: 15px;
}

#burger {
   /* size */
   width: 25px;
   height: 25px;
   /* flex box */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   /* marge */
   margin-right: 30px;
}

#burger span {
    /* size */
    width: 100%;
    height: 2px;
    /* background */
    background-color: black;
    /* border */
    border-radius: 100px;
}

#burger #l1 {
    transition: 800ms ease-in-out;
    transform-origin: center left;
}

#burger #l2 {
    transition: 700ms ease-in-out;
}

#burger #l3 {
    transition: 800ms ease-in-out;
    transform-origin: center left;
}

#burger:hover {
    cursor: pointer;
}

nav {
    position: absolute;
    right: 6.5%;
    transition: 700ms ease-in-out;
    transform: translateX(150%);
    opacity: 0;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    transition: 300ms ease-in-out;
    border-bottom: 3px solid transparent;
    
}

nav a:hover {
    border-bottom: 3px solid black;
}

.slide {
    transform: translateX(0);
    opacity: 1;
}

.croix-l1 {
    transform: rotate(28deg);
}

.croix-l2 {
    transform: translateX(-250px) rotate(450deg);
    /* opacity: 0; */
}

.croix-l3 {
    transform: rotate(-28deg);
}

main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.haut {
    width: 35%;
    border-bottom: 3px solid black;
    margin-top: 35px;
}

h2 {
    text-align: center;
}

.millieu {
    width: 80%;
    border: 2px solid black;
    text-align: center;
    padding: 10px 0px;
    align-self: center;
    margin-top: 35px;
    text-transform: uppercase;
}
.bas {
    display: flex;
    width: 90%;
    height: 90%;
    align-self: center;
    margin: 50px 0px;
}

.bas p {
    width: 80%;
}

.bas img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.bas .gauche {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bas .gauche .button {
    width: 50%;
    display: flex;
    justify-content: space-between;
} 

button {
    width: 45%;
    height: 30px;
    border: 3px solid black;
    background-color: white;
    margin-top: 25px;
}


